.product-row {
    width: 100% !important;
    margin: 0 auto;
    border: 1px solid #d0d4d9;
    border-radius: 2px;
    padding: 10px;
}

.product-row {
    .search-container {
        margin: 0 0 10px;
    }

    .edit-container {
        .header {
            display: flex;
            -webkit-align-items: flex-end;
            align-items: flex-end;
            flex-direction: column;
            .product-name {
                font-size: 30px;
                line-height: 30px;
                width: 100%;
                text-align: center;
                color:#9d9d9d;
            }
        }
        .sale-container{
          margin-top: 20px;
          .price-unit{
            display: flex;
            justify-content: space-between;
            .price{
              width: 40%;
            }
            .unit{
              width: 40%;
            }
          }
        }

    }
}
